.header{
    background: linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url("../../../assets/img/header/MainPageHeader-back.png");
    height: 590px;
    background-size: 100% 100%;
}