.navbar{
    background: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(5.5px);
    padding: 20px 0;
  
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

&__list{
    display: flex;
    align-items: center;
  & li{
    margin: 0 20px;
    & a{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
  }
  & li:nth-child(1){
    margin: 0 !important;
  }

}
&__topbar{
    &__list{
        display: flex;
        & li{
            margin: 0 13px;
        }
        & li:nth-child(3){
            margin: 0 !important;  
        }
    }
}
}