.sectionTwo{
    padding-top: 90px;
    display: flex;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & li{
            width: 270px;
            height: 481px;
            margin: 0 20px;
            & h3{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                color: #FFFFFF;
                margin-top: 15px;
            }
            & p{
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                color: #FFFFFF;
                opacity: 0.5;
            }
            & span{
                position: relative;
                display: flex;
                height: 412px;
                flex-direction: column;
                background: #272727;
                cursor: pointer;
                border-radius: 14px;
            & img{
                margin-top: 40%;
            }
            }
        }
    }
    


    &__bg{
        display: flex;
        position: relative;
        width: 590px;
        &::after{
            content: "Познакомьтесь с коллекцией ножей TUOTOWN";
            position: absolute;
            bottom: 30px;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
            /* identical to box height, or 165% */
              left: 20px;
              user-select: contain;

            color: #FFFFFF;
        }
        & img{
            display: flex;
            width: 100%;
            cursor: pointer;
        }
    }
}

.AddIcon{
     position: absolute;
     right: 10px;
     top: 10px;
     color: white;
     padding: 1px;
}
.AddIcon_active{
    background-color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    padding: 1px;
}

@media (max-width:1300px){
    .sectionTwo{
        &__topbar{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
             
        }
        &__list{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width:700px){
    .sectionTwo{
        &__bg{
            display: flex;
            width: 90% !important;
            & img{
                width: 100%;
            }
        }
    }
}