.sectionTwo{
    padding-top: 90px;
    display: flex;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & li{
            width: 270px;
            height: 481px;
            margin: 0 10px;
            & span{
                display: flex;
                height: 412px;
              justify-content: center;
              align-items: center;
              flex-direction: column;
             background: #272727;
 
            }
        }
    }
    


    &__bg{
        display: flex;
        position: relative;
        width: 590px;
        &::after{
            content: "Познакомьтесь с коллекцией ножей TUOTOWN";
            position: absolute;
            bottom: 30px;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
            /* identical to box height, or 165% */
              left: 20px;
              user-select: contain;

            color: #FFFFFF;
        }
        & img{
            display: flex;
            width: 100%;
            cursor: pointer;
        }
    }
}