.sectionOne{
    align-items: center;
    display: flex;
    justify-content: space-between;
    & li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        & h2{
            margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        cursor: pointer;
        /* identical to box height */
           transition: color 0.4s ease-in-out  ;
         &:hover{
            color: #FF0000;
         }
        color: #FFFFFF;

        opacity: 0.4;
        }
    }
}