*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 88%;
  margin: 0 auto;
}

@import "./normalize.scss";